.navbar {
  margin-left: 170px;
  margin-right: 170px;
  background: #ffffff;
}

.btn-primary {
  background-color: #ffffff;
  border: none;
  color: #f084a6;
  font-family: Helvetica, sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
}

.btn-light {
  background-color: #f084a6;
  color: #ffffff;
  font-family: Helvetica, sans-serif;
  letter-spacing: 2px;
  border-radius: 0%;
  font-size: 14px;
  width: 112px;
}

.text-bg-dark {
  background-color: #f084a6;
  border: none;
  border-radius: 0%;
}

.card-text {
  color: black;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  margin-top: 300px;
  padding-left: 820px;
}

i {
  color: #b22655;
  font-style: normal;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 15px;
}

.card-text1 {
  color: black;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  padding-left: 865px;
}

y {
  font-weight: bold;
}

.button {
  padding-left: 855px;
}

.button-image1 {
  border: none;
  background: none;
  width: 112px;
  height: 38;
}

.button-image2 {
  border: none;
  background: none;
  width: 128px;
  height: 38;
  padding-right: 120px;
}

.text-bg-dark2 {
  background-color: #fbe4ec;
  border-color: #fbe4ec;
  border-bottom: none;
  border-radius: 0%;
}

.card-text2 {
  color: #b22655;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 550;
  margin-top: 85px;
  padding-left: 790px;
}

.card-text3 {
  color: black;
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  padding-left: 840px;
}

.card-text4 {
  color: #b22655;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 2px;
  padding-left: 120px;
  margin-top: 85px;
}

.card-img-top {
  position: absolute;
  left: 185px;
  margin-top: -5px;
}

.container-fluid {
  background-color: #fbe4eb;
  border-color: #fbe4eb;
}

.card-text8 {
  color: #b22655;
  font-size: 40px;
  font-weight: 700;
  padding-left: 120px;
}

.h6 {
  margin-top: 200px;
  padding-left: 75px;
  color: #b22655;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 1.5;
}

.p6 {
  font-size: 17px;
  padding-left: 75px;
  margin-top: 30px;
  justify-content: 0;
}

.b {
  font-weight: 500;
}

figure {
  padding-left: -50px;
}

.card-img {
  border: none;
}

.container-fluid2 {
  background-color: #fbebec;
  border-color: #fbebec;
}

.card-text9 {
  color: #b22655;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-size: 17px;
  padding-left: 858px;
  margin-top: 85px;
}

.card-text10 {
  color: black;
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  padding-left: 905px;
}

.btn-link {
  margin-left: -10px;
  margin-top: -5px;
}

.py-5 {
  font-size: 14px;
  padding-left: 90px;
}

.CC {
  font-size: 14px;
}

.akhir {
  background-color: #fbebec;
  margin-bottom: -15px;
  margin-left: -110px;
  margin-right: -110px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cr {
  margin-right: 180px;
  font-size: 12px;
  margin-bottom: -1px;
}

.logo-list {
  margin-right: 500px;
}

